/* remove o fundo cinza padrão do botão */
.icon-button {
    -fx-background-color: transparent, transparent, transparent, transparent, transparent;
  }
  
  .icon-button:hover{
    -fx-cursor: hand;	
  }
  
  /* ==== Cores para os ícones svg ==== */
  
  .svg-gray{
    -fx-fill: #888888; /* cor cinza */
  }
  .svg-red{
    -fx-fill: #D00000; /* cor vermelha */
  }
  
  /* Modifica a cor do icone em svg quando o mouse */
  /* passar por cima ou quando ele for clicado */
  /* aqui eu usei tonalidades um pouco mais escuras */
  .svg-gray:pressed, .svg-gray:hover{
    -fx-fill: #444444;
  }
  .svg-red:pressed, .svg-red:hover{
    -fx-fill: #9d0208;
  }
  /* Para outras cores pode ser usado a mesma ideia */